/* font-family: 'Lato', sans-serif; */
/* Navbar */
<<<<<<< HEAD
=======

>>>>>>> 8251dff0b5212a21e5ae24fc483146f2b772e360
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.navbar{
  z-index: 10;
  background-color: rgba(7,7,7,0.9) !important;
}
.navbar-nav a{
  margin-right: 20px;
  color: white !important;
  font-family: 'Lato' !important;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
}
.navbar-toggler{
  color: white !important;
  background-color: white !important;
}
/* .navbar::after{
  display: block;
  content: '';
  border: 2px solid #4BCAFF;
  position: absolute;
  width: 37px;
  top:0;
  right: 696px;
} */
/* jumbotron */

.jumbotron .container{
  position: relative;
  z-index: 9999;
  
}
.jumbotron{
  transform: translate(-500px,-500px);
  opacity: 0;
  transition: .5s;
  overflow: hidden;
}
.jumbotron-show{
  opacity: 1;
  transform: translate(0,0);
}
.background-jumbo{
  background: url(https://johnfarkasolo.github.io/zinger.github.io/images/slider.jpg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:850px;
  width: 100%;
  overflow: hidden;
}
.jumbotron::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.container-content{
  margin-top: 250px;
}
.jumbotron .display-4{
  /* margin-top: 250px; */
  font-weight: 150;
  font-size: 40px;
  font-weight: 150;
  text-shadow: 0 1px 3px rgba(0, 0,0,0.7);
  text-align: center;
}
.jumbotron .display-4 span{
  font-weight: 500;
}
.jumbotron p{
  text-align: center;
  color: white !important;
  font-size: 18px;
  font-weight: lighter;
}
.jumbotron .btn{
  display:flex;
  width: 100px;
  outline-color: white !important;
  background-color: none;
  
}
 .jumbotron .container .button-box{
  margin-top: 20px;
}
.jumbotron .container .tombol1{
  margin: auto;
  /* margin-left: 90px; */
  margin-bottom: 20px;
} 
.jumbotron .container .tombol2{
  margin: auto;
  background-color: #4BCAFF;
  box-shadow: 0 2px 0 rgba(39, 118,151,1);
}
/* Avaible */
.avaible h5{
  position: relative;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 100;
}
.avaible img{
  display: block; 
}
.avaible .ios{
  margin: auto;
  margin-top: 20px;
}
.avaible .android{
  margin: auto;
  margin-top: 20px;
}
/* ABout */
.about h3{
  font-size: 36;
  font-weight: 700;
}
.about p{
  font-size: 20;
  font-weight: 150;
}
/* Features */
.section-features-content{
  margin-top: -30px;
  padding-top: 30px;
  box-sizing: border-box;
  background-color: #F9F9F9;
}
.section-features-content .about h3{
  color: #414042;
}
.section-features-content .about p{
  color: #414042;
}
.features-content h5{
  color: #414042;
  text-transform: uppercase;
  font-size: 15;
  font-weight: 500;
}
.features-content p{
  color: #838383;
  font-size: 13;
  font-weight: 150;
}
.features-content h5 span{
  color: #4BCAFF;
}
.kiri,.kanan{
  transition: 0.7s; 
  opacity: 0;
}
.kiri{
  transform: translate(-250px,0);
}
.kanan{
   transform: translate(250px,0);
}
.show{
  opacity: 1;
  transform: translate(0,0);
}

/* Galery */
.show-gallery .about h3{
  font-size: 36;
  font-weight: 700;
}
.show-gallery .about p{
  color:#414042;
  font-size: 20px;
  font-weight: 150;
}
 .gallery{
  border-radius: 5%;
}
.gallery img{
  opacity: 0;
  transform: translate(0,-40px);
  transition: .5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}
.gallery img.muncul{
  transform: translate(0,0);
  opacity: 1;
}
.gallery img{
  width: 100%;
}
.gallery h6{
 background:#4b4c4e;
 color:#4bcaff;
 padding:10px;
 box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:12px;
  margin-top: 0;
}	
.gallery p{
  color: #838383;
  font-size: 13;
  font-weight: 150;
  margin-top: 10px;
}
/* Section vidio */
.vidio{
  opacity: 0;
  transform: scale(0);
  transition: .3s;
}
.vidio-show{
  opacity: 1;
  transform: scale(1);
}
.vidio-content img{
  margin-top: 60px;
}
.vidio-content h1{
  color: white;
  font-size: 48;
  margin-top: 60px;
}
.vidio-content p{
  font-size: 18;
  color: white;
  font-weight: lighter;
  margin-top: 60px;
}
.video-content{
	margin-top: 60px;
}
.vidio{
  background-image: url(images/video.jpg);
  width: 100%;
  height: 550px;
  background-size: cover;
}
/* Price */
.card1 , .card2 ,.card3{
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
.card-show{
  opacity: 1;
  transform: scale(1);
}
.card1 , .card2 ,.card3{
  margin-bottom: 50px;
  background-color: #F9F9F9;
  height: 415px;
  border-radius: 10px;
  border: 1px solid #DAD7D7;
}
.price-catagory .besar .card2{
  height: 455px;
}
.card1 h5 , .card2 h5 , .card3 h5{
  text-transform: uppercase;
  color: #D7D7D7;
  font-size: 17;
  font-weight: bold;
  padding:15px;
}
.card1 h1 , .card2 h1, .card3 h1{
  text-shadow: 0 1px 2px rgba(24, 22, 24,0.3);
  color: #D7D7D7;
  height: 115px;
  display: block;
  font-size: 85px;
  font-weight: bold;
  background-color: #91C46B;
  line-height: 115px;
  color: white;
}
/* Change color and backgorund for professional catagory */
.card2 h5{
 color: #4BCAFF;
}
.card2 h1{
  height: 115px;
  background-color: #4BCAFF;
}
.price-catagory .besar .list-group-item{
  color:  #4BCAFF;
}
/* Chage color and background for advance catagory */
.card3 h1{
  background-color: #FD7C00;
}
/* button purchase */
.price-catagory .button-purchase1{
 background-color: #91C46B;
 border: none;
 width: 171px;
 padding: 10px;
 box-sizing: border-box;
}
.price-catagory .button-purchase2{
 background-color: #4BCAFF;
 border: none;
 width: 171px;
 padding: 10px;
 box-sizing: border-box;
}
.price-catagory .button-purchase3{
 background-color: #FD7C00;
 border: none;
 width: 171px;
 padding: 10px;
 box-sizing: border-box;
}

.price-catagory .besar{
  display: flex;
}
.price-catagory .card2{
  transform: scale(1.1);
  flex: 1;
}
.price-catagory .list-group-item{
  color: #D7D7D7;
  border: none !important;
  font-size: 18px;
  font-weight: bold;
  background-color: #F9F9F9;
}

/* Testimonial */

.testimonial{
  height: 380px;
  margin-top: 70px;
  background-color: #F9F9F9;
}
.img-testimonial img{
  width: 121px;
  height: 121px;
  display: inline;
  margin: auto;
}
.testimonial h1{
  margin-top: 50px;
  color: #414042;
  font-size: 36;
  font-weight: 700;
}
.testimonial-content p{
  text-align: center;
}
.testimonial-content h6{
  text-align: center;
  margin: 0;
}
.carousel-indicators {
  bottom: -100px;
  left: 0;
}
.carousel-indicators li {
    display: inline-block; 
    width: 50px;
    height: 7px;
    background-color:none;
    background-color:#30a8db;
    border:0;
    border-radius:0;
}

.download{
  margin-top: 200px;
  background-color: #414042;
  height: 210px;
}

.content-download{
  margin-top: -1.5625px;
}
.download h1{
  color: white;
  font-size: 55;
  font-weight: 700;
}
.download-button{
  color: black;
font-size: 15px;
font-weight: 500;
text-transform: uppercase;
 background-color: #4BCAFF;
 border-radius: 5px;
 border: none;
 width: 194px;
 height: 60px;
 padding: 10px;
 box-sizing: border-box;
 box-shadow: 0 4px 0 rgba(39,118,151,1);
 display: flex;
 margin: auto;
}
.download-button:hover{
  background-color: rgba(39,118,151,1);
}
.download span{
  margin: auto;
}

/* Contact */
#map{
  position: relative;
  overflow:  hidden;
	height:650px;
	width:100%;
}
.form-area{
  background: rgba(34,182,244, .6);
  position: absolute;
  width: 324px;
  height: 460px;
  bottom: 65px;
}
.form-area .h4{
  color: white;
  font-size: 36;
  font-weight: 700;
  
}
.form-area-2 input::placeholder ,.form-area-2 textarea::placeholder{
  color:#D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
}
.form-area input , .form-area textarea{
  text-align: center;
}
.green-border-focus:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
.form-area-2{
  margin-top: -20px;
}
.send-button{
  width: 190px;
  height: 45px;
  background-color: #414042;
  box-shadow: 0 4px 0 rgba(49,48,50);
}
.send-button span{
  font-size: 15px;
  color: #72B3CC;
  font-weight: 500;
}
.hightLight{
  border-top : 3px solid greenyellow;
  transition: all 0.2s ease;
  display: block;
}




/* Dekstop */
@media (min-width: 992px){
  body{
  width: 100% !important;
  overflow-x: hidden !important;
  }
  .navbar{
    z-index: 10;
    background-color: rgba(7,7,7,0.4) !important;
  }
  .jumbotron{
    height: 800px;
  }
  .navbar-nav a{
  font-size: 13px;
  text-transform: uppercase;
  }
  .jumbotron .container .tombol2{
  margin-left: -40px;
  }
  .jumbotron p{
    text-align: left;
  }
  .jumbotron .display-4{
    text-align: left;
  }
  .jumbotron .container .tombol1{
    margin: 0;
  } 
  .jumbotron .container .tombol2{
    margin-left: -20px;
  }
  .avaible h5{
    text-align: left;
  }
  .avaible .ios{
    margin-left: -30px;
  }
  .avaible .android{
    margin-left: -120px;
  }
  .card1 , .card2 ,.card3{
  margin-bottom: 0;
  }
  .img-testimonial{
  text-align: right;
  }
  .testimonial-content p{
  text-align: left;
  }
  .testimonial-content h6{
  text-align: right;
  margin-left:360px;
  }
  .content-download{
  margin-top: 52.5px;
  }
  .download{
  margin-top: 0;
  background-color: #414042;
  height: 210px;
  }
  
}
